{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-12">
            <h1>Welcome</h1>
            <p>This is a simple web app that allows users to post and edit their recipes and view the recipes of other users. It was made for my IS219 class, which is a web development
                class focused on building Flask applications.</p>

            <p>To use the application, you must first register with an email and a password. You will then be directed to a form that allows you to add new recipes while editing or
                deleting any you have already made. A recipe has a title and a text area to put in content. Titles do not have to be unique.</p>
        </article>
    </div>
{% endblock %}
